.header {
  position: fixed;
  padding: 1rem 1rem 1rem 2rem;
  background-color: rgba(130, 125, 125, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(0.4rem);
  top: 1.8rem;
  left: 5.3rem;
  right: 5.3rem;
  color: white;
  z-index: 100;
}

.logo {
  width: 3.5rem;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.navList {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 6rem;
  list-style: none;
}
.linkedin {
  height: 1.7rem;
  width: auto;
}

.activeLink {
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.inactiveLink {
  font-weight: 300;
  color: #ffffffab;
  text-decoration: none;
  cursor: pointer;
}
.headerSocials {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.mobile{
  display: none;
}

@media (max-width: 600px) {
  .header {
    transition: unset;
    padding: 0.7rem 1rem 0.7rem 1.4rem;
    left: 1.7rem;
    right: 1.7rem;
    background-color: rgba(130, 125, 125, 0.5);
  }
  .navList {
    display: none;
  }
  .mobile{
    display: block;
  }

  .headerSocials {
    position: fixed;
    right: -100vw;
    top: 20rem;
    z-index: 50;
    flex-direction: row-reverse;
    transition: 0.3s ease-out;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    right: 9rem;
    display: none;
  }
  .menu {
    display: block;
    width: 2.3rem;
    height: 1.5rem;
  }

  .menu_overlay {
    position: fixed;
    top: -2rem;
    padding-top: 10rem;
    transition: 0.2s ease-out;
    right: 0;
    bottom: 0;
    padding-right: 8rem;
    background-color: rgba(62, 61, 61, 0.6);
    backdrop-filter: blur(0.6rem);
    width: 80%;
    height: 100vh;
    z-index: 5;
    padding-right: 4rem;
  }
  .close_icon {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 3rem;
    cursor: pointer;
    padding-right: 4rem;
  }
  .menu_dropdown {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 99;
    gap: 2rem;
  }
  .primary_btn {
    padding: 0.7rem 1.6rem;
  }
}
