.footer {
  background-color: #fafafa;
  padding: 2rem 6rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.footer_text{
    font-size: 0.9rem;
    color: #242424;
}
.footer_socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}
