.footer {
  background-color: #fafafa;
  padding: 1.7rem 6rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.footer_text {
  font-size: 0.9rem;
  color: #242424;
}
.footer_socials {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 600px) {
  .footer {
    padding: 1.7rem;
  }
  .footer_text {
    font-size: 0.72rem;
  }
  .footer_socials {
    gap: 1.7rem;
  }
  .footer_socials img {
    width: 1.2rem;
  }
}
