.about_container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 0 6rem;
}
.bio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  font-size: 1.3rem;
}
.title {
  font-weight: 500;
  font-size: 3rem;
}
.button_link {
  text-decoration: none;
  color: inherit;
}
.potrait {
  width: 26rem;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .about_container {
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0;
    gap: 0;
  }
  .potrait {
    width: 100%;
  }
  .bio {
    padding: 2rem;
  }
  .title {
    font-size: 2.1rem;
    line-height: 3rem;
  }
  .bio p {
    font-size: 1rem;
  }
  .about_btn{
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
  }
}
