.container {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  gap: 6rem;
  margin-bottom: auto;
  background-color: black; /*optional bg */
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  flex: 1 1 calc(33.333% - 20px); /* 3 cards per row with gap */
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 1.5rem;
  background-color: #f9f9f9;
  cursor: pointer;
  position: relative;
}

.card img {
  max-width: 100%; /* Make image responsive */
  border-radius: 4px;
}
.card p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.overlay_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 2rem;
  height: 2rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
  /* z-index: 2;  Ensure the overlay_img is above the overlay  */
}

.card:hover .overlay {
  opacity: 1;
}
.card:hover .overlay_img {
  opacity: 1;
}

.caption {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  color: #242424;
  padding: 1rem 0;
  align-items: end;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;
}
.project_arrow {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0;
  object-fit: cover;
}

.ant-modal .ant-modal-content {
  width: 80%;

  background-color: blue;
  background-color: #151414;
  padding: 2rem;
}
.modal_img {
  width: 100%;
}
