.hero {
  background-image: url("/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  height: 50vw;
  background-size: 100vw 50vw;
}
.overlay {
  width: 100%;
  color: white;
  display: flex;
  gap: 4rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 0 6rem 0 6rem;
  padding-bottom: 0;
  height: 100%;
  top: 0;
  left: 0;

}
.bio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  font-size: 1.3rem;
}
.title {
  font-weight: 500;
  font-size: 3rem;
}
.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 2.4rem;
  border: 0.01rem solid white;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  color: white;
}
.btn,
.btn:visited {
}
.josh {
  width: 28rem;
  object-fit: cover;
  border-radius: 1rem;
}
