.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6rem 6rem 1rem 6rem;
}
.title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
.writings {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 300;
  color: #242424;
  font-family: writings;
}
.subtitle {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.7;
  width: 50%;
  margin: 1rem auto 4rem;
  color: #242424;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card {
  display: flex;
  gap: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #f9fafb;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.card:hover {
  background-color: #dde0e668;
}
.blogDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.blogImg {
  width: 20rem;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.blogTitle {
  font-size: 2.2rem;
  font-weight: 400;
}
.text {
  font-size: 1.12rem;
  opacity: 0.5;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.linkWrapper {
  display: flex;
  align-items: center;
  color: rgb(255, 138, 0);
  gap: 0.5rem;
}
.linkText {
  color: rgb(255, 138, 0);
  text-decoration: none;
}
.blogPagewrapper {
  margin-top: 10rem;
}
.coverImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.blogPageTitle {
  font-size: 2.85rem;
  width: 70%;
  font-weight: 500;
  margin: 2rem 12rem 0;
}
.details {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  gap: 1rem;
  margin: 2rem 12rem;
}
.mobileDetails {
  display: none;
}
.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}

.article {
  text-indent: 0;
  color: rgb(117, 117, 117);
  margin: 1rem 12rem;
  font-size: 1.23rem;
}
.article_subtitle {
  font-size: 2rem;
  margin: 2.5rem 12rem 0.5rem;
  font-weight: 500;
}
.getInTouchBtn {
  margin-left: 12rem;
  font-size: 1.213rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    padding: 3rem 2rem 1rem;
  }
  .blogSection {
    text-align: center;
  }
  .subtitle {
    font-size: 1rem;
    width: 100%;
  }
  .card {
    flex-direction: column;
  }
  .blogTitle {
    font-size: 1.4rem;
    /* line-height: 0.6rem; */
  }
  .blogPagewrapper {
    margin-top: 0;
    width: 100%;
  }
  .coverImage {
  }
  .blogPageTitle {
    margin: 1.6rem auto 0;
    width: 90%;
    font-size: 2rem;
    text-align: left;
  }
  .details {
    display: none;
  }
  .mobileDetails {
    display: flex;
    flex-wrap: wrap;
    color: rgb(117, 117, 117);
    display: flex;
    gap: 1rem;
    margin: 1.6rem;
    font-size: 1.04rem;
    align-items: center;
  }
  .dot {
    width: 0.1rem;
    height: 1.3rem;
    border-radius: 0;
  }
  .postWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2rem 4rem;
    font-size: 1.4rem;
  }
  .article {
    text-indent: 0;
    color: rgb(117, 117, 117);
    margin: 0.8rem 0;
    font-size: 1.12rem;
  }
  .article_subtitle {
    margin: 0;
  }
  .getInTouchBtn {
    margin: 1.6rem 0 0;
    font-size: 1.12rem;
    padding: 0.56rem 1.28rem;
  }
}
